/* body {
	background-color: #0D0D0D;
    color: #fff;
} */

:root {
	--textColor: #fff;
	--backgroundColor: #0D0D0D;
}

.parallax-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 150vh;
	background: url('../../../public/images/lavender-bg.webp') center center/cover no-repeat;
	will-change: transform;
	z-index: -1;
}

/* fade to black at bottom */
.parallax-bg::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(transparent, var(--backgroundColor));
	pointer-events: none;
}

.parallax-content {
	position: relative;
	z-index: 1;
}

/********************************* HERO *********************************/

.lavender-hero-container {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;
    text-align: center;
}


.lavender-hero-title {
	font-size: 100px;
	margin-top: -100px;
}

.lavender-hero-container > h2 {
	margin: 8px;
	color: var(--textColor);
	font-size: 32px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;

}

.lavender-hero-details {
	margin-top: 8px;
	color: var(--textColor);
	font-size: 20px;
	font-family: monospace;    
}

.lavender-btns-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 1120px;

	margin-bottom: 40px;
}

.lavender-hero-btns {
	margin-top: 48px;
}

.lavender-hero-btns > a {
	color: var(--textColor);
	text-decoration: none;
	margin-bottom: 0.5rem;
	font-size: 16px;
	padding: 12px;
	outline: var(--textColor) solid 2px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	margin: 1.2rem;
}

.lavender-hero-btns > a:hover {
	color: var(--backgroundColor);
	background-color: var(--textColor);
	transition: 0.3s ease-in-out;
}

.lavender-logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/********************************* DETAILS *********************************/

.lavender-details-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 1120px;
	height: 100vh;
	width: 90%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.lavender-details-title {
	color: var(--textColor);
	font-size: 52px;
	margin-bottom: 12px;
}

.lavender-details-languages {
	color: var(--textColor);
	font-size: 25px;
	margin-bottom: 12px;
	font-family: monospace;
	text-align: center;
}

.lavender-details-text {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	color: var(--textColor);
	margin-bottom: 12px;
	font-size: 20px;
	margin: 20px;
}

/********************************* DEMO *********************************/

.lavender-demo-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	/* min-height: 120vh; */
	min-width: 90vw;
}

.lavender-demo-title {
	font-size: 52px;
	margin-bottom: 12px;
}

.lavender-demo-subtitle {
	font-size: 18px;
	color: var(--textColor);
	align-items: center;
	text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
	margin-bottom: 22px;
}

.lavender-slideshow-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	min-height: 100vh;
}

.lavender-demo-sub-container {
    display: flex;
	justify-content: center;
    align-items: center;
    height: 64vh;
    min-height: 300px;
    max-width: 1000px;
}

.lavender-slide {
	display: flex;
	flex-direction: row;
}

.lavender-demo-details {
	color: var(--textColor);
    margin: 100px;
    max-width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.lavender-demo-img {
	border-radius: 14px;
	object-fit: cover;
	width: auto;
    max-height: 400px;
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.1);
}

.prev, .next {
	cursor: pointer;
	position: relative;
	width: auto;
	margin: 4vw;
	padding: 16px;
	color: var(--textColor);
	font-weight: bold;
	font-size: 28px;
	transition: 0.6s ease;
	border-radius: 3px;
	user-select: none;
}

.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: var(--textColor);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slide {
	animation-name: fade;
	animation-duration: 1.8s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

/********************************* TABLET *********************************/

@media screen and (max-width: 960px) {
	.lavender-hero-container > h1 {
		font-size: 70px;
	}

	.lavender-details-title {
		font-size: 40px;
	}

	.lavender-details-languages {
		font-size: 18px;
	}

	.lavender-details-text {
		font-size: 16px;
	}

	.lavender-demo-title {
		font-size: 40px;
	}

    .lavender-demo-sub-container{
        height: 40vh;
		margin-top: 10vh;
		margin-bottom: 10vh;
    }

    .lavender-demo-details {
        font-size: 20px;
        line-height: 40px;
		text-align: left;
    }

	.lavender-demo-img{
		max-height: 300px
	}

	.lavender-slide {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	}
}

/********************************* PHONE *********************************/

@media screen and (max-width: 768px) {
	.lavender-hero-container > h1 {
		font-size: 50px;
	}

	.lavender-hero-container > h2 {
		font-size: 22px;
	}

	.lavender-hero-details {
		font-size: 16px;
	}

    .lavender-demo-sub-container{
        height: 500px;
        flex-flow: column;
    }

    .lavender-demo-details {
        font-size: 16px;
        line-height: 35px;

        margin: 20px;
    }

	.lavender-demo-img {
		max-width: 250px;
	}
}
