/********************************* HERO *********************************/

.project-hero-container {
    background-color: #afb48a;
    background-attachment: fixed;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.project-hero-title {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.project-hero-container > h2 {
    margin: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-hero-details {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-family: monospace;
}

.project-btns-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;

    margin-bottom: 40px;  
}

.project-hero-btns {
    margin-top: 48px;

}

.project-hero-btns > a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 16px;
    padding: 12px;
    outline: #fff solid 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin: 1.2rem;
}

.project-hero-btns > a:hover{
    color: #242424;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.project-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/********************************* DETAILS *********************************/

.project-details-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    height: 100%;
    width: 90%;
    margin: 0 auto;  
    padding-top: 100px;
}

.project-details-title {
    color: #242424;
    font-size: 52px;
    margin-bottom: 12px;
}

.project-details-languages {
    color: #343434;
    font-size: 25px;
    margin-bottom: 12px;
    font-family: monospace;
    text-align: center;
}

.project-details-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #242424;
    margin-bottom: 12px;
    font-size: 20px;
    margin: 20px;
}

/********************************* DEMO *********************************/

.project-demo-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    height: 120vh;
    width: 90%;
    margin: 0 auto;  
}

.project-demo-title {
    color: #242424;
    font-size: 52px;
    margin-bottom: 12px;
}

.project-demo-subtitle {
    color: #343434;
    font-size: 18px;
    margin-bottom: 12px;
    align-items: center;
    padding : 20px;
    text-align: center;
}

.project-demo-img {
    margin-bottom: 60px;
    border-radius: 10px;
    object-fit: cover;
}

/********************************* TABLET *********************************/

@media screen and (max-width: 960px) {
    .project-hero-container > h1 {
        font-size: 70px;
    }

    .project-details-title {
        font-size: 40px;
    }

    .project-details-languages {
        font-size: 18px;
    }

    .project-details-text {
        font-size: 16px;
    }

    .project-demo-title {
        font-size: 40px;
    }

    .project-demo-img {
        max-height: 400px;
    }
}

/********************************* PHONE *********************************/

@media screen and (max-width: 768px) {
    .project-hero-container > h1 {
        font-size: 50px;
    }

    .project-hero-container > h2 {
        font-size: 22px;
    }

    .project-hero-details {
        font-size: 16px;
    }
    
    .project-demo-img {
        max-width:400px;
    }

}